* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
  }


.page_2__box{
    height: 250px;
    width: 600px;
    background-color: rgb(212, 241, 201);
    border-radius: 40px;
    padding: 20px; 
    margin-top: 50px;
    font-weight: bold;
  }