/* Reset */
/* Seletor Universal */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
  }

   /* simulando folha a4  */
body {
    background: #eee; 
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.page {
    width: 210mm;
    height: 297mm;
    background: white;
    margin-bottom: 20px; 
    padding: 10mm;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); 
    border-radius: 5px;
}


.head{
    text-align: center;
    display: flex;
    justify-content: space-between;
}

.head-logo{
    display: flex;
}

.head-tittle{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.info{
    display: flex;
    flex-direction: column;    
}

.info-tittle{
    text-align: center;
    padding-bottom: 50px;
    color: gray;
    font-size: 20px;
    font-weight: bold;

}


.info-images{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.info-images-1{
    padding-right: 20px;
    border: 1px solid gray;
    padding: 6px;

}

.info-images-2{
    padding-left: 20px;
    border: 1px solid gray;
    padding: 6px;
}

.info-gerais{
    margin-top: 50px;
    border: 1px solid gray;
}
.info-gerais__loja{
    display: flex;
    flex-direction: row;
    justify-content: space-around; 
}

.info-gerais__responsavel{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.master{
    margin: 0% 10%;
}

.ponto-mapa{
    margin-top: 30px;
    height: 200px;
}

.rodape{    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.rodape__produtivo{    
    display: flex    ;
    flex-direction: column;
    justify-content: space-evenly;
}

.text {
    display: flex;
    flex-direction:column;
    text-align-last: justify;
    height: 109px;
}

.text-1 {
    display: flex;
    flex-direction: row;    
}

.text-2 {
    display: flex;
    flex-direction: row;
    justify-content: flex-start
}

.spacing{
    padding: 1% 2%;    
}

#mapa {
    width: 100%;
    height: 100%;
    border: 1px solid gray ;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
  }

.page_1__box{
  text-align-last: justify;
  width: 600px;
  margin-bottom: 200px;
  background-color: rgb(212, 241, 201);
  border-radius: 30px;
  padding: 50px;
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-weight: bold;
}

.page_2__box{
    height: 250px;
    width: 600px;
    background-color: rgb(212, 241, 201);
    border-radius: 40px;
    padding: 20px; 
    margin-top: 50px;
    font-weight: bold;
  }
    