/* Reset */
/* Seletor Universal */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }


.head{
    text-align: center;
    display: flex;
    justify-content: space-between;
    padding: 1% 10%;
}

.head-logo{
    display: flex;
}

.head-tittle{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.info{
    display: flex;
    flex-direction: column;    
}

.info-tittle{
    text-align: center;
    padding-bottom: 50px;
}


.info-images{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.info-images-1{
    padding-right: 20px;
    border: 1px solid gray;
    padding: 6px;

}

.info-images-2{
    padding-left: 20px;
    border: 1px solid gray;
    padding: 6px;
}

.info-gerais{
    margin-top: 50px;
    border: 1px solid gray;
}
.info-gerais__loja{
    display: flex;
    flex-direction: row;
    justify-content: space-around; 
}

.info-gerais__responsavel{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.master{
    margin: 0% 10%;
}

.ponto-mapa{
    margin-top: 50px;
    border: 1px solid gray ;
}

.rodape{    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.rodape__produtivo{    
    display: flex;
    flex-direction: column;
}

.texto{
    display: flex;
    flex-direction: column;
}